<html>
    <head>
        <title>Sarah's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Sarah's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>It's like putting things into <strong>boxes.</strong></p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>You have one <strong>big box;</strong> inside it there are <strong>smaller boxes.</strong> </p>
        </div>
    </body>
</html>